<div class="container">
    <div class="btn-group my-2">
        <a href="/product/home" class="btn btn-primary active" aria-current="page">Sản phẩm</a>
        <a href="/banner/home" class="btn btn-primary">Banner</a>
        <a href="/category/home" class="btn btn-primary">Danh mục</a>
           <a href="/bill/home/0" class="btn btn-primary">Đơn hàng</a>
    </div>
    <h1 class="my-4  text-center">Quản lí sản phẩm</h1>

    <form class="form-inline mb-4" method="post" action="search">
        <div class="d-flex flex-row justify-content-center">
            <input class="col-3 col-md-5 col-lg-7 ps-3" type="text" placeholder="Tìm kiếm theo tên sản phẩm..."
                aria-label="Search" name="name" value="{{valueSearch}}">
            <button class="btn btn-outline-success ms-3" type="submit">Tìm kiếm</button>
        </div>
    </form>


    <p><a href="add" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Thêm
            sản phẩm mới</a></p>


    <!-- Danh sách user -->
    <table class="table table-striped table-bordered my-2">
        <thead class="bg-dark-subtle">
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">ID</th>
                <th class="text-center">Tên sản phẩm</th>
                <th class="text-center">Đơn giá</th>
                <th class="text-center">Tình trạng</th>
                <th class="text-center">Hành động</th>
            </tr>
        </thead>
        <tbody>

            {{#each users}}
            <tr>
                <td class="text-center">{{sum @index}}</td>
                <td class="text-center">{{this._id}}</td>
                <td class="text-center">{{this.name}}</td>
                <td class="text-center">{{this.price}}</td>
                <td class="text-center">{{this.status}}</td>
                <td class="text-center">
                    <!-- Các nút xóa, sửa user -->
                    <button type="button" class="btn btn-danger btn-sm mr-2" data-bs-toggle="modal"
                        data-bs-target="#deleteModal" data-bs-id="{{this._id}}">Xóa</button>
                    <button type="button" class="btn btn-primary btn-sm ms-3"><a class="btn-edit"
                            href="info/{{this._id}}">Sửa</a></button>
                </td>
            </tr>
            {{/each}}


        </tbody>
    </table>
</div>










{{!-- form hidden --}}

<form method="post" name="delete-user-form"></form>



{{!-- modal delete --}}

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa tài khoản</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có muốn xóa thông tin tài khoản này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Quay lại</button>
                <button type="button" class="btn btn-primary" id="btn-delete-user">Tiếp tục</button>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var Id_product;
        var deleteForm = document.forms['delete-user-form'];

        const deleteModal = document.getElementById('deleteModal')
        deleteModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget;
            Id_product = button.getAttribute('data-bs-id');
        })

        var btn_del = document.getElementById('btn-delete-user');
        btn_del.onclick = function () {
            deleteForm.action = 'delete/' + Id_product + "?_method=DELETE";
            deleteForm.submit();
        }
    });
</script>